{% extends 'app/base.html' %}
{% load static %}
{% block title%}About{% endblock title%}

{% block main-content%}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About US</h2>
      <br>
      <div class="row container">
        <p class="fs-4 text-center">
         "Mepco Schlenk Engineering College, Sivakasi, is a leading self-financing Engineering College started on 17th October 1984 "
        </p>
    </div>
      <h2 class="text-center">Vision</h2>
      <div class="row container">
        <p class="fs-4 text-center">
         "Envisioning a World Lead by our Engineers, 
         holding a Beacon of Hope and Confidence for Generations to come."
        </p>
    </div>
    <br>
    <h2 class="text-center">Mission</h2>
      <div class="row container">
        <p class="fs-4 text-center">
         "To Produce Competent, Disciplined and Quality Engineers & Administrators Through Service par Excellence."
        </p>
    </div>
</div>


{% endblock main-content%} 