{% extends 'app/base.html' %}
{% load static %}
{% block title%}Contact Us{% endblock title%}

{% block main-content%}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
    <br>
    <div class="container">
        <p class="fs-4 text-center"><b>Address</b>:	Mepco Schlenk Engineering College (Autonomous)
            Mepco Schlenk Engineering College Post,
            Sivakasi, Tamilnadu, India - 626005</p>
            <p class="fs-4 text-center"><b>Email id:</b><a href="msec@mepcoeng.ac.in">msec@mepcoeng.ac.in</a></p>
            <br></br>
            <p class="fs-4 text-center"><b>Map</b></p>
            <p class="fs-4 text-center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.809291312442!2d77.85124811462796!3d9.525292193177581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b06d3287794055d%3A0x9c7b889bf154fb86!2sMepco%20Schlenk%20Engineering%20College!5e0!3m2!1sen!2sin!4v1680938655190!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
        </div>
    </div>
{% endblock main-content %}